<!DOCTYPE html>
<html
        lang="en"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}"
>
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body layout:fragment="body">
<!-- Links section -->
<section class="py-5 bg-light">
    <div class="container px-5 my-5">
        <div class="text-center">
            <h2 class="fw-bolder">Contact <strong>Farid Rafya</strong></h2>
            <br><br>
        </div>
        <div class="row gx-5 justify-content-center align-items-center">
            <!-- GitHub Section -->
            <div class="col-md-4 mb-4 text-center">
                <img class="img-fluid rounded-circle mb-3"
                     src="https://skript.cn/images/github.png"
                     alt="GitHub Logo" style="width: 100px; height: 100px;"/>
                <a class="h4 fw-bold text-decoration-none link-dark"
                   href="https://github.com/FaridRafya">GitHub</a>
            </div>

            <!-- Gmail Section -->
            <div class="col-md-4 mb-4 text-center">
                <img class="img-fluid rounded-circle mb-3"
                     src="https://uploads-ssl.webflow.com/61a539be2729708d89c426d8/61ef16f903254c310d3ad9c0_Yahoo.png"
                     alt="Gmail Logo" style="width: 100px; height: 100px;"/>
                <a class="h4 fw-bold text-decoration-none link-dark"
                   href="mailto:turianytsia.timur@gmail.com">Gmail</a>
            </div>
        </div>
        <br>
    </div>
</section>
</body>
</html>